In [8]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import confusion_matrix, classification_report
from imblearn.under_sampling import RandomUnderSampler
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas

In [2]:
engine = create_engine(f'postgresql://root:{db_password}@database-1.c9rsypxhmntw.us-east-2.rds.amazonaws.com:5432/credit_decisions')

In [3]:
connection = engine.connect()

In [4]:
data = pd.read_sql('select * from loandata_small', connection)

In [5]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 300)

In [26]:
data

,id,loan_amnt,annual_inc,loan_status,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,99800119,40000.0,212000.0,Charged Off,15.0,1.0,685.0,1.0,13.0,0.0,16369.0,71.0,31.0,0.0,0.0,0.0,426091.0,3.0,32776.0,5251.0,76.0,0.0,222.0,39.0,3.0,3.0,39.0,0.0,4.0,5.0,6.0,12.0,10.0,7.0,18.0,5.0,13.0,0.0,0.0,2.0,87.0,67.0,0.0,0.0,493388.0,99382.0,21500.0,98888.0
1,10181709,9000.0,50000.0,Charged Off,30.0,0.0,740.0,2.0,11.0,0.0,6118.0,21.0,20.0,0.0,0.0,0.0,135629.0,7.0,13563.0,13582.0,31.0,0.0,171.0,10.0,3.0,4.0,10.0,0.0,3.0,3.0,5.0,9.0,4.0,7.0,12.0,3.0,11.0,0.0,0.0,2.0,95.0,20.0,0.0,0.0,172546.0,24352.0,19700.0,28378.0
2,9000890,10000.0,32000.0,Fully Paid,20.0,0.0,745.0,1.0,6.0,0.0,6570.0,26.0,15.0,0.0,0.0,0.0,25748.0,2.0,4291.0,12130.0,35.0,0.0,110.0,21.0,21.0,0.0,21.0,0.0,2.0,2.0,4.0,8.0,4.0,5.0,11.0,2.0,6.0,0.0,0.0,0.0,100.0,25.0,0.0,0.0,51967.0,25748.0,18700.0,26867.0
3,43369231,35000.0,200000.0,Fully Paid,5.0,1.0,700.0,0.0,11.0,0.0,25124.0,26.0,21.0,1.0,0.0,0.0,395474.0,3.0,35952.0,63776.0,28.0,0.0,231.0,33.0,7.0,4.0,132.0,1.0,4.0,4.0,5.0,5.0,8.0,6.0,7.0,4.0,11.0,0.0,1.0,2.0,95.0,20.0,0.0,0.0,490756.0,97346.0,88900.0,75189.0
4,46694688,8750.0,22000.0,Fully Paid,21.0,0.0,665.0,0.0,5.0,0.0,11056.0,72.0,11.0,0.0,0.0,0.0,13900.0,3.0,2780.0,4244.0,72.0,0.0,58.0,14.0,5.0,0.0,14.0,0.0,4.0,4.0,4.0,4.0,7.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,18502.0,13900.0,15300.0,3202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262496,62216570,20000.0,50000.0,Fully Paid,24.0,0.0,685.0,0.0,10.0,0.0,13671.0,58.0,26.0,0.0,0.0,0.0,110000.0,1.0,11000.0,244.0,98.0,0.0,133.0,22.0,22.0,1.0,22.0,1.0,4.0,7.0,4.0,10.0,9.0,7.0,16.0,7.0,10.0,0.0,0.0,0.0,96.0,100.0,0.0,0.0,144121.0,29535.0,9600.0,32643.0
1262497,75163409,10675.0,51290.0,Fully Paid,9.0,0.0,705.0,0.0,4.0,0.0,6666.0,79.0,10.0,0.0,0.0,0.0,9316.0,1.0,2329.0,1420.0,81.0,0.0,188.0,26.0,14.0,0.0,36.0,0.0,2.0,3.0,2.0,2.0,5.0,3.0,5.0,3.0,4.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,12300.0,9316.0,7500.0,3900.0
1262498,27731172,11000.0,40000.0,Fully Paid,15.0,0.0,765.0,2.0,15.0,0.0,12653.0,21.0,25.0,0.0,0.0,0.0,23034.0,4.0,1920.0,42047.0,23.0,0.0,584.0,2.0,2.0,0.0,2.0,0.0,4.0,5.0,7.0,10.0,6.0,13.0,19.0,5.0,15.0,0.0,0.0,3.0,100.0,14.0,0.0,0.0,78420.0,23034.0,54600.0,19320.0
1262499,75367145,12000.0,51000.0,Fully Paid,14.0,0.0,665.0,2.0,12.0,1.0,9665.0,79.0,28.0,0.0,0.0,0.0,26486.0,3.0,2649.0,338.0,96.0,0.0,293.0,3.0,3.0,1.0,17.0,0.0,4.0,5.0,5.0,9.0,12.0,8.0,15.0,5.0,11.0,0.0,0.0,2.0,100.0,100.0,1.0,0.0,39631.0,26486.0,8800.0,27331.0
1262500,40148217,5500.0,40000.0,Fully Paid,25.0,0.0,675.0,1.0,19.0,0.0,12363.0,30.0,27.0,0.0,0.0,0.0,30131.0,11.0,1674.0,15636.0,38.0,0.0,93.0,1.0,1.0,0.0,2.0,0.0,7.0,12.0,10.0,12.0,5.0,18.0,22.0,12.0,19.0,0.0,0.0,5.0,100.0,10.0,0.0,0.0,63044.0,30131.0,25300.0,22444.0

In [27]:
# Convert string values in "loan_status" to numbers using "get_dummies"
data_v1 = pd.get_dummies(data, columns =['loan_status'])
data_v1.head()

,id,loan_amnt,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_status_Charged Off,loan_status_Fully Paid
0,99800119,40000.0,212000.0,15.0,1.0,685.0,1.0,13.0,0.0,16369.0,71.0,31.0,0.0,0.0,0.0,426091.0,3.0,32776.0,5251.0,76.0,0.0,222.0,39.0,3.0,3.0,39.0,0.0,4.0,5.0,6.0,12.0,10.0,7.0,18.0,5.0,13.0,0.0,0.0,2.0,87.0,67.0,0.0,0.0,493388.0,99382.0,21500.0,98888.0,1,0
1,10181709,9000.0,50000.0,30.0,0.0,740.0,2.0,11.0,0.0,6118.0,21.0,20.0,0.0,0.0,0.0,135629.0,7.0,13563.0,13582.0,31.0,0.0,171.0,10.0,3.0,4.0,10.0,0.0,3.0,3.0,5.0,9.0,4.0,7.0,12.0,3.0,11.0,0.0,0.0,2.0,95.0,20.0,0.0,0.0,172546.0,24352.0,19700.0,28378.0,1,0
2,9000890,10000.0,32000.0,20.0,0.0,745.0,1.0,6.0,0.0,6570.0,26.0,15.0,0.0,0.0,0.0,25748.0,2.0,4291.0,12130.0,35.0,0.0,110.0,21.0,21.0,0.0,21.0,0.0,2.0,2.0,4.0,8.0,4.0,5.0,11.0,2.0,6.0,0.0,0.0,0.0,100.0,25.0,0.0,0.0,51967.0,25748.0,18700.0,26867.0,0,1
3,43369231,35000.0,200000.0,5.0,1.0,700.0,0.0,11.0,0.0,25124.0,26.0,21.0,1.0,0.0,0.0,395474.0,3.0,35952.0,63776.0,28.0,0.0,231.0,33.0,7.0,4.0,132.0,1.0,4.0,4.0,5.0,5.0,8.0,6.0,7.0,4.0,11.0,0.0,1.0,2.0,95.0,20.0,0.0,0.0,490756.0,97346.0,88900.0,75189.0,0,1
4,46694688,8750.0,22000.0,21.0,0.0,665.0,0.0,5.0,0.0,11056.0,72.0,11.0,0.0,0.0,0.0,13900.0,3.0,2780.0,4244.0,72.0,0.0,58.0,14.0,5.0,0.0,14.0,0.0,4.0,4.0,4.0,4.0,7.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,18502.0,13900.0,15300.0,3202.0,0,1

In [28]:
#Drop duplicate "loan_status" column
data_v2 = data_v1.drop(['id','loan_status_Charged Off'], axis=1)

In [29]:
# Verify all data is in ML acceptable data type format
#data_v2.info()

## Machine Learning Model #BRFC with Scaling, Random UnderSampling ##

In [30]:
#Setting y/prediction variable column
y = data_v2['loan_status_Fully Paid']
y.ravel()
y

0          0
1          0
2          1
3          1
4          1
          ..
1262496    1
1262497    1
1262498    1
1262499    1
1262500    1
Name: loan_status_Fully Paid, Length: 1262501, dtype: uint8

In [31]:
#Setting x/dependent variables 
data_v3 = data_v2.drop(['loan_status_Fully Paid'], axis=1)
data_v3

,loan_amnt,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,40000.0,212000.0,15.0,1.0,685.0,1.0,13.0,0.0,16369.0,71.0,31.0,0.0,0.0,0.0,426091.0,3.0,32776.0,5251.0,76.0,0.0,222.0,39.0,3.0,3.0,39.0,0.0,4.0,5.0,6.0,12.0,10.0,7.0,18.0,5.0,13.0,0.0,0.0,2.0,87.0,67.0,0.0,0.0,493388.0,99382.0,21500.0,98888.0
1,9000.0,50000.0,30.0,0.0,740.0,2.0,11.0,0.0,6118.0,21.0,20.0,0.0,0.0,0.0,135629.0,7.0,13563.0,13582.0,31.0,0.0,171.0,10.0,3.0,4.0,10.0,0.0,3.0,3.0,5.0,9.0,4.0,7.0,12.0,3.0,11.0,0.0,0.0,2.0,95.0,20.0,0.0,0.0,172546.0,24352.0,19700.0,28378.0
2,10000.0,32000.0,20.0,0.0,745.0,1.0,6.0,0.0,6570.0,26.0,15.0,0.0,0.0,0.0,25748.0,2.0,4291.0,12130.0,35.0,0.0,110.0,21.0,21.0,0.0,21.0,0.0,2.0,2.0,4.0,8.0,4.0,5.0,11.0,2.0,6.0,0.0,0.0,0.0,100.0,25.0,0.0,0.0,51967.0,25748.0,18700.0,26867.0
3,35000.0,200000.0,5.0,1.0,700.0,0.0,11.0,0.0,25124.0,26.0,21.0,1.0,0.0,0.0,395474.0,3.0,35952.0,63776.0,28.0,0.0,231.0,33.0,7.0,4.0,132.0,1.0,4.0,4.0,5.0,5.0,8.0,6.0,7.0,4.0,11.0,0.0,1.0,2.0,95.0,20.0,0.0,0.0,490756.0,97346.0,88900.0,75189.0
4,8750.0,22000.0,21.0,0.0,665.0,0.0,5.0,0.0,11056.0,72.0,11.0,0.0,0.0,0.0,13900.0,3.0,2780.0,4244.0,72.0,0.0,58.0,14.0,5.0,0.0,14.0,0.0,4.0,4.0,4.0,4.0,7.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,18502.0,13900.0,15300.0,3202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262496,20000.0,50000.0,24.0,0.0,685.0,0.0,10.0,0.0,13671.0,58.0,26.0,0.0,0.0,0.0,110000.0,1.0,11000.0,244.0,98.0,0.0,133.0,22.0,22.0,1.0,22.0,1.0,4.0,7.0,4.0,10.0,9.0,7.0,16.0,7.0,10.0,0.0,0.0,0.0,96.0,100.0,0.0,0.0,144121.0,29535.0,9600.0,32643.0
1262497,10675.0,51290.0,9.0,0.0,705.0,0.0,4.0,0.0,6666.0,79.0,10.0,0.0,0.0,0.0,9316.0,1.0,2329.0,1420.0,81.0,0.0,188.0,26.0,14.0,0.0,36.0,0.0,2.0,3.0,2.0,2.0,5.0,3.0,5.0,3.0,4.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,12300.0,9316.0,7500.0,3900.0
1262498,11000.0,40000.0,15.0,0.0,765.0,2.0,15.0,0.0,12653.0,21.0,25.0,0.0,0.0,0.0,23034.0,4.0,1920.0,42047.0,23.0,0.0,584.0,2.0,2.0,0.0,2.0,0.0,4.0,5.0,7.0,10.0,6.0,13.0,19.0,5.0,15.0,0.0,0.0,3.0,100.0,14.0,0.0,0.0,78420.0,23034.0,54600.0,19320.0
1262499,12000.0,51000.0,14.0,0.0,665.0,2.0,12.0,1.0,9665.0,79.0,28.0,0.0,0.0,0.0,26486.0,3.0,2649.0,338.0,96.0,0.0,293.0,3.0,3.0,1.0,17.0,0.0,4.0,5.0,5.0,9.0,12.0,8.0,15.0,5.0,11.0,0.0,0.0,2.0,100.0,100.0,1.0,0.0,39631.0,26486.0,8800.0,27331.0
1262500,5500.0,40000.0,25.0,0.0,675.0,1.0,19.0,0.0,12363.0,30.0,27.0,0.0,0.0,0.0,30131.0,11.0,1674.0,15636.0,38.0,0.0,93.0,1.0,1.0,0.0,2.0,0.0,7.0,12.0,10.0,12.0,5.0,18.0,22.0,12.0,19.0,0.0,0.0,5.0,100.0,10.0,0.0,0.0,63044.0,30131.0,25300.0,22444.0

In [32]:
#Dropping variables w/ lowest Feasture Importance to run PCA on 30 variables/columns
X = data_v3.drop(['num_actv_rev_tl',
'num_sats',
'tot_coll_amt',
'open_acc',
'num_rev_tl_bal_gt_0',
'inq_last_6mths',
'num_accts_ever_120_pd',
'delinq_2yrs',
'pub_rec',
'pub_rec_bankruptcies',
'tax_liens',
'num_tl_90g_dpd_24m',
'collections_12_mths_ex_med',
'chargeoff_within_12_mths',
'acc_now_delinq',
'num_tl_30dpd'], axis=1)
X

,loan_amnt,annual_inc,dti,fico_range_low,revol_bal,revol_util,total_acc,tot_cur_bal,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_actv_bc_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,40000.0,212000.0,15.0,685.0,16369.0,71.0,31.0,426091.0,3.0,32776.0,5251.0,76.0,222.0,39.0,3.0,3.0,39.0,4.0,6.0,12.0,10.0,7.0,18.0,2.0,87.0,67.0,493388.0,99382.0,21500.0,98888.0
1,9000.0,50000.0,30.0,740.0,6118.0,21.0,20.0,135629.0,7.0,13563.0,13582.0,31.0,171.0,10.0,3.0,4.0,10.0,3.0,5.0,9.0,4.0,7.0,12.0,2.0,95.0,20.0,172546.0,24352.0,19700.0,28378.0
2,10000.0,32000.0,20.0,745.0,6570.0,26.0,15.0,25748.0,2.0,4291.0,12130.0,35.0,110.0,21.0,21.0,0.0,21.0,2.0,4.0,8.0,4.0,5.0,11.0,0.0,100.0,25.0,51967.0,25748.0,18700.0,26867.0
3,35000.0,200000.0,5.0,700.0,25124.0,26.0,21.0,395474.0,3.0,35952.0,63776.0,28.0,231.0,33.0,7.0,4.0,132.0,4.0,5.0,5.0,8.0,6.0,7.0,2.0,95.0,20.0,490756.0,97346.0,88900.0,75189.0
4,8750.0,22000.0,21.0,665.0,11056.0,72.0,11.0,13900.0,3.0,2780.0,4244.0,72.0,58.0,14.0,5.0,0.0,14.0,4.0,4.0,4.0,7.0,4.0,4.0,1.0,100.0,50.0,18502.0,13900.0,15300.0,3202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262496,20000.0,50000.0,24.0,685.0,13671.0,58.0,26.0,110000.0,1.0,11000.0,244.0,98.0,133.0,22.0,22.0,1.0,22.0,4.0,4.0,10.0,9.0,7.0,16.0,0.0,96.0,100.0,144121.0,29535.0,9600.0,32643.0
1262497,10675.0,51290.0,9.0,705.0,6666.0,79.0,10.0,9316.0,1.0,2329.0,1420.0,81.0,188.0,26.0,14.0,0.0,36.0,2.0,2.0,2.0,5.0,3.0,5.0,0.0,100.0,100.0,12300.0,9316.0,7500.0,3900.0
1262498,11000.0,40000.0,15.0,765.0,12653.0,21.0,25.0,23034.0,4.0,1920.0,42047.0,23.0,584.0,2.0,2.0,0.0,2.0,4.0,7.0,10.0,6.0,13.0,19.0,3.0,100.0,14.0,78420.0,23034.0,54600.0,19320.0
1262499,12000.0,51000.0,14.0,665.0,9665.0,79.0,28.0,26486.0,3.0,2649.0,338.0,96.0,293.0,3.0,3.0,1.0,17.0,4.0,5.0,9.0,12.0,8.0,15.0,2.0,100.0,100.0,39631.0,26486.0,8800.0,27331.0
1262500,5500.0,40000.0,25.0,675.0,12363.0,30.0,27.0,30131.0,11.0,1674.0,15636.0,38.0,93.0,1.0,1.0,0.0,2.0,7.0,10.0,12.0,5.0,18.0,22.0,5.0,100.0,10.0,63044.0,30131.0,25300.0,22444.0

# PCA with 30 variables

In [33]:
# Initialize PCA model
pca = PCA(n_components=7)

In [34]:
#Standardize data with StandardScaler
loandata_scaled = StandardScaler().fit_transform(X)
loandata_scaled

array([[ 2.908226  ,  1.92132504, -0.30937603, ...,  1.03234115,
        -0.01903472,  1.31165724],
       [-0.63861865, -0.37993708,  1.01627808, ..., -0.5340682 ,
        -0.10239958, -0.31795075],
       [-0.52420431, -0.63563287,  0.13250867, ..., -0.50492376,
        -0.14871338, -0.35287257],
       ...,
       [-0.40978996, -0.5219903 , -0.30937603, ..., -0.56158423,
         1.51395235, -0.52729679],
       [-0.29537562, -0.36573176, -0.39775297, ..., -0.48951646,
        -0.60722009, -0.34214873],
       [-1.03906885, -0.5219903 ,  0.57439337, ..., -0.4134194 ,
         0.15695775, -0.45509575]])

In [35]:
# Get 10 principal components for data
loandata_pca = pca.fit_transform(loandata_scaled)

In [36]:
# Transform PCA data to DataFrame
loandata_pca = pd.DataFrame(
    data=loandata_pca, columns=['Prin Comp 1', 'Prin Comp 2', 'Prin Comp 3', 'Prin Comp 4', 'Prin Comp 5', 'Prin Comp 6', 'Prin Comp 7'])
loandata_pca

         Prin Comp 1  Prin Comp 2  Prin Comp 3  Prin Comp 4  Prin Comp 5  Prin Comp 6  Prin Comp 7
0           2.073260     3.880527     0.072471    -0.094131    -0.430268    -0.605067     1.546078
1           0.163079    -1.338287    -1.521643     0.913326    -0.485443    -0.107952    -1.439235
2          -2.007424    -1.194190    -2.386641    -0.560756     1.279022     0.541786    -0.482377
3           2.709703     3.197171    -4.736225    -0.349345     0.176034     0.561589     1.344817
4          -3.033640    -0.747141     0.696127    -0.450077    -0.141255     1.625281    -0.158845
...              ...          ...          ...          ...          ...          ...          ...
1262496    -1.523086     1.138328     0.938702    -1.768996     0.804988    -0.191350    -0.234139
1262497    -4.178049     0.621711    -0.177692    -1.298884     0.202026     0.569885    -0.346292
1262498     2.180276    -2.918719    -2.440543    -1.176133     0.381353    -0.449706    -1.244890
1262499    -1.116922    -0.156796     2.366320    -0.965468    -0.119053    -0.308793    -0.481525
1262500     2.128566    -3.994665     1.370193    -0.094219    -0.185123     0.777002    -0.143592

[1262501 rows x 7 columns]

In [37]:
# split Data into training and testing sets **USING STRATIFY method**
X_train, X_test, y_train, y_test = train_test_split(loandata_pca, y, test_size=0.25, random_state=1, stratify=y)

In [38]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [39]:
# Balanced Random Forest Classifier
brfc_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brfc_model = brfc_model.fit(X_scaled, y_train) 
y_pred = brfc_model.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=uint8)

In [40]:
#Accuracy Score
accuracy_score(y_test, y_pred)

0.5102494724769189

In [41]:
output_df = pd.DataFrame({"Prediction": y_pred, "Actual": y_test})
output_df

         Prediction  Actual
484834            0       1
671532            0       1
749270            0       1
504662            0       0
992350            0       1
...             ...     ...
644596            1       1
681433            0       0
187948            0       1
613558            1       1
1115281           0       1

[315626 rows x 2 columns]

In [42]:
from sklearn.metrics import confusion_matrix, classification_report
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        43327        20430
Actual 1       134148       117721

In [43]:
# Print Classification Report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.24      0.68      0.36     63757
           1       0.85      0.47      0.60    251869

    accuracy                           0.51    315626
   macro avg       0.55      0.57      0.48    315626
weighted avg       0.73      0.51      0.55    315626

In [44]:
# List the features sorted in descending order by feature importance
sorted(zip(brfc_model.feature_importances_, X.columns), reverse=True)

[(0.17367017136455012, 'dti'),
 (0.140182834413438, 'revol_util'),
 (0.14001940931246856, 'annual_inc'),
 (0.13707424832842185, 'total_acc'),
 (0.1366592705025769, 'loan_amnt'),
 (0.13662080390459444, 'fico_range_low'),
 (0.1357732621739501, 'revol_bal')]